
body {
    display: flex;
    justify-content: center;
}

.container {
    align-self: center;

    background-color: $color-white;
    @include round-border;
    padding: 2rem;
    box-shadow: 10px 15px 20px 5px rgba($color-black, .4);
    min-width: 400px;
}

.search-container {
    display: flex;
    justify-content: space-between;
}